*{
    margin: 0px;
}
#main{
    display: flex;
    width: 100%;
    background-color: black;
}
#maindiv {
    height: 100%;
    width: 31%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: 
    #1B2226;
}
.top{

    border-bottom:1px solid black ;
    background-color:  #202C33;
}
/* .message{
    height: 100vh;
    width: 75%;
    border: 1px solid black;
    position: absolute;
    left: 410px;
    top: 0px;
} */
.madina{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.community{
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    margin-top: 10px;
    margin-left: 90px;
}
.status{
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    margin-top: 10px;
    margin-left: 5px;
}
.channel{
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    margin-top: 10px;
    margin-left: 5px;
} 
.search{
    margin-top: 10px;
    width: 25vw;
    height: 30px;
    background-color:
    #111B21; 
    outline: none;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
#chats{
    display:  flex;
}
.chat-img{
    height: 50px;
    width: 300px;
    border: 1px solid black;
    /* background-color: black; */
    margin-top: 10px;

}
.dp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
}
#chattings{
    display: flex;
    width: 100%;
    border: 1px solid black;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    background-color: #2A3942;
}

.profileimage img{
    width: 50px;
    height: 60px;
}
.chat-title{
    margin-left: 10px;
    font-weight: bold;
    color: white;
}
.chat-details{
    margin-left: 10px;
    padding: 10px;
}
.chat-histroy{
    margin-top: 7px;
    margin-left: 10px;
    color: wheat;
}
.chat-histroy1{
    margin-top: 7px;
    margin-left: 10px;
    color: green;
    font-weight: bold;
}
.time{
    margin-left: auto;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
#center{
    height: 100vh;
    width: 69%;
    border: 1px solid black;
    margin-left: 422px;
    margin-top: -451px;
    display: flex;
    flex-direction: column;
}
#nav{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    background-color: #F0F2F5;
}
.chattitle{
    margin-left: 10px;
    margin-bottom: 1px;
    font-weight: bold;
    color: white;
}
.phone img{
    height: 20px;
    width: 20px;
    margin-right: 40px;
    margin-left: 400px;
    padding: 20px auto;
}
.chathistroy{
    color: gray;
    font-size: 10PX;
}
* {
    margin: 0px;
}

#main {
    display: flex;
    width: 100%;
}
#nav{
    margin-top: 0px;
    background-color: #0C1317;
}

#center {
    width: 68%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 10;
    bottom: 0;
    overflow-y: auto; 
    background: url(img/backgrounf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.videocall img{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
#bottom{
    height: 9%;
    width: 68%;
    display: flex;
    border: 1px solid rgb(23, 10, 95);
    align-self:last baseline;
    display: flex;
    bottom: 0px;
    justify-content: space-between;
    background-color: #2A363E;
    align-items: center;
    margin-top: 530px;
    position: fixed;
}
.plus{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.inp{
    height: 10px;
    width: 80%; 
 
}
.sky{
    height: 30px;
    width: 80%;
    border-radius:5px;
    margin-top: -20px;
    margin-left: -40px;
    outline: none;
    border: 1px solid gray;
    background-color: #2A363E;
    color: white;
}
.microphone img{
    height: 20px;
    width: 20px;
    margin-left: -80px;
}
.phone img{
    color: white;
}